@model IEnumerable<eStore.Models.Series>

<h1>@ViewBag.Title</h1>

<p>
    <a asp-action="Create">Create</a> |
    <a asp-action="Update">Edit</a> |
    <a asp-action="Delete">Delete</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
            </tr>
        }
    </tbody>
</table>
